.back {
    background-color: rgb(245, 223, 190);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;

}

.recipeDetail {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(0px, auto);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contDetails {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

}

.contStep {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.contImgSummary {
    
    margin: 0 auto;
    position: relative;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.summaryText{
    font-size: 16px;
    font-weight: 600;
}

.stepsText{
    font-size: 16px;
    font-weight: 600;
}

.imgRecipe {
    width: 80%;
    height: 100%;
    border: 10px solid #FFF;
    border-radius: 80px 5px 80px 5px;

}


.title {
    font-size: 24px;   
    color: #d56000;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.diets {
  
    font-size: 18px;   
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 20px;
 
}

.healthS {
    font-size: 18px;    
    color: #028625;
    display: flex;
    justify-content: center;
    margin: 10px;   
}

.summary {  
    font-size: 25px;
    color: #fc080c;
    display: flex;
    justify-content: center;
    margin: 20px;
   
}

.stepsBox{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30px 700px;
    justify-content: center;
    align-items: start;
}