
.formContainer {
    position: relative;
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
   
}

.backCreate {
    background-color: rgb(245, 223, 190);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;

}

.containerForm{
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.dietasAgregadas{
    display: flex;
    justify-content: center;
    width: 700px;
}

.btnDeleteStep{
    margin-left: 8px;
}