.backHome {
    background-color: rgb(245, 223, 190);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;

}

.wrapper {
    width: 85%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-auto-rows: minmax(10px, auto);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.error404 {
    width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10%;
    justify-content: center;
}

.loading {
  
    grid-column-start: 2;
    grid-column-end: 2;
    float: right;

}

.paginationHome {
    padding-top: 8%;
    width: 55%;
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    justify-content: center;
    align-items: center;
}