.paginationBlock{
    width: 85%;
    margin-top: 30px;
    position: relative;
    margin: 0 auto;
}

.click {

    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;


}

.button1 {
    background-color:rgb(245, 223, 190);
    padding: 1em 2em;
    height: 48px;
    display: inline-block;
    border: 3px solid rgb(66, 32, 0);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(66, 32, 0);
   

}

.button1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button1:active {
     transform: scale(0.8);
}

.button2 {
   background-color:rgb(245, 223, 190);
   padding: 10px;
   height: 40px;
   width: 40px;
    display: inline-block;
    border: 3px solid rgb(66, 32, 0);
    border-radius: 250px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(66, 32, 0);
    font-size: 13px;
    font-weight: 700;
    margin: 5px;

}

.button2:hover {
    background-color:rgb(212, 174, 117);
    transform: scale(1.05);
    cursor: pointer;
}

.actualP{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;

    margin-top: 10px;
}