.navVacio {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    align-items: center;
    padding-left: 3%;
    background-color: rgb(66, 32, 0);
    color: #FFFFFF;
    position: fixed;
}

.logoVacio {
    width: 140px;
    height: 90px;
    margin-bottom: 5px;
}

.logoContentVacio {
    width: 150px;
    height: 100px;
    margin: 5px;
    text-align: center;
}

.nombreVacio {
    text-align: left;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.btnContent {

    display: flex;
    justify-content: center;
}

.btnAtras {
    width: 100%;
    height: 40px;
    font-weight: 600;
    border-radius: 25px;
    margin: 0, auto;
    padding-left: 40px;
    padding-right: 40px;
    background: #f5dfbe;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.btnAtras:hover {
    border: 4px #FFF solid
}