@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.containers {
  position: relative;
  width: 100%;
  /* background-color: rgb(245, 223, 190); */
  background-image: url('./img/bg_colors.jpg');
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.btnIngreso {
  width: 50%;
  text-align: center;
  font-size: 30px;
  padding: 8px 20px 8px 20px;
  border-radius: 0px 25px 0px 25px;
  font-weight: 700;
  background: rgb(255, 235, 0);
  background: radial-gradient(circle, rgba(255, 235, 0, 1) 0%, rgba(255, 89, 0, 1) 100%);
  cursor: pointer;
}

.btnCont {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.btnIngreso:hover {
  animation: up 0.1s linear;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}

.signin_signup {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 10%;
  opacity: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  z-index: 5;
  text-align: center;

  animation: fade 0.7s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}

.containers:before {
  content: "";
  position: absolute;
  height: 1400px;
  width: 1400px;
  top: 45%;
  right: 120%;
  transform: translateY(-50%);
  background-image: url('img/plato.png');
  background-size: cover;
  border-radius: 50%;
  z-index: 6;
  animation: translate 1s;
  animation-fill-mode: forwards;
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes translate {
  from {
    right: 120%;
    top: 45%;

  }

  to {
    right: 48%;
    top: 35%;
  }
}

.entrada_landing{
  margin-top: 30%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  opacity: 0;
  align-items: center;
  animation: fade 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}

.col1{
  width: 80px;
  position: absolute;
  right:0%;
  animation: flecha 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.col2{
  width: 280px;
  position: absolute;
  right:0%;
}


.puertaLanding{
  width: 280px;
}

.flechaLanding{
  margin-top: 10px;
  width: 240px;
}
  
@keyframes flecha {
  from {
    left:8%;
  }
  to {
   left:-5%;
  }
}