.content404{
    width: 100%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageNotFound{
    width: 45%;
   margin-top: 6%;
   
}

.wrappers {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backs {
    background-color: rgb(245, 223, 190);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;

}