.searchContainer {
    width: 100%;
    justify-content: center;
    margin-top: -10px;
    display: flex;
}

.inputSearch {
    width: 300px;
    padding: 8px 8px 8px 10px;
    font-size: 15px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.searchContainerInput {
    float: right;
    padding: 8px;
    margin-right: 16px;
    background: #f5dfbe;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
}

.searchContainerInput:hover {
    background: #ccc;
}

.searchIcon{
    padding-left: 8px;
    padding-right: 8px;
}
